/****
webImport: true,
minify: true
****/

/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
Modified
*******************************************************************************/

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color: #373737;
  background-color: white;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


sup {
  vertical-align: super;
  font-size: 0.6em;
}

sub {
  vertical-align: sub;
  font-size: 0.6em;
}

p {
  margin: 10px 0 15px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p img {
  display: inline;
  vertical-align: middle;
  text-align: center;
}

pre,
code {
  width: 100%;
  color: #222;
  background-color: #fff;
  box-sizing: border-box;

  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul,
ol,
dl {
  margin-bottom: 15px;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
}

td {
  padding: 10px;
  border: 1px solid #373737;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: 0px 0px 10px #111;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: 0px 0px 10px #111;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
    font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code,
  pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}

/*
  Specialized customizations
*/

@import url(all.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css);

html {
  overflow-y: scroll;
}

body {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;

  min-height: 300px;
  min-width: 100px;
}

@media screen and (max-width: 100px) {
  body {
    overflow-x: scroll;
  }
}

@media screen and (max-height: 300px) {
  body {
    overflow-y: scroll;
  }
}

a {
  text-decoration: underline;
  text-decoration-color: rgba(0, 126, 223, 0.3);
  color: rgb(0, 126, 223);
  text-shadow: none;

  transition-property: color, text-decoration-color;
  transition-duration: 200ms;
}

a:visited:hover,
a:visited:active,
a:hover,
a:focus {
  text-decoration-color: rgba(0, 126, 223, 1);
  text-shadow: 1px 1px 1px rgba(200, 200, 0, 0.4);
  color: rgb(0, 126, 223);
}

a:visited {
  text-decoration-color: rgba(63, 15, 3, 0.3);
  color: rgb(63, 15, 3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  color: #222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1 {
  margin: 10px 0;
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.page-banner {
  background-size: cover;
  background-position: left center;
  background-image: url(/images/butterfly-banner.jpg);
  width: 100%;
  height: 20vh;
  background-size: auto 20vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.page-banner .overflow {
  left: calc( 1024px + 10% );
  top: 0;
  position: absolute;
  height: 20vh;
  width: 100%;
  background-color: rgba(255,255,255,.4);
  border-left: 2px solid white;
}

.page-header-author-image {
  height: 20vh;
  position: absolute;
  top: 0;
  left: 5vw;
  border: 2px double black;
  border-radius: 10px;
  background-color: greenyellow;
}

div.row {
  width: 90%;
  max-width: 1024px;
}

.page-general {
  margin-left: 5%;
  margin-right: 5%;
  min-width: 150px;
  max-width: 1024px;
  width: 90%;
}

.page-header {
  background-color: rgb(115, 170, 33);
  margin-bottom: 4px;
  margin-top: 4px;
  border-top: 2px solid rgb(75, 110, 22);
  border-bottom: 2px solid rgb(75, 110, 22);
  color: black;
  position: relative;
  height: 5vh;
}

.page-tag {
  padding: 5px;
  vertical-align: bottom;
  margin: 0;
  position: absolute;
  top: 0;
}

.page-tag-left-box,
.page-tag-right-box {
  height: calc(5vh - 3px);
  overflow: hidden;
  top: 0;
  position: absolute;
}

.page-tag-left-box {
  border-right: 2px solid black;
  left: 0;
  width: 35%;
}

.page-tag-right-box {
  right: 0;
  width: 65%;
}

.page-tag-left-box img {
  height: 80%;
  max-width: 95%;
}

.page-tag-right-box img {
  height: 80%;
  max-width: 95%;
}

.page-tag-text img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page.context-page {
  margin-top: 2vh;
  height: 80vh;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
  border-bottom: 1px solid lightgreen;
  color: black;
  background: #f9f9f9;
  margin-top: 10px;
  padding-left: 1rem;
}

.context-home table {
  border: 0 none;
}

.context-home th {
  white-space: nowrap;
}

.context-home th:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.context-home th:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.context-home td {
  border: 0 none;
}

.fas,
.far,
.fal,
.fad,
.fab {
  font-style: normal;
}

.fixed-width {
  font-size: 18px;
  color: black;
  width: 24px; /* Whatever fixed width you want here */
  display: inline-block; /* Force the width to be respected. See also: inline-block */
  text-align: center; /* So the character appears in the middle of the block */
}

.page-byline {
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  border: 1px solid #ededed;
  padding: 5px;
  margin-bottom: 30px;
  font-size: .8rem;
}

footer:empty {
  visibility: hidden;
}

footer a {
  font-size: .6rem;
}

.share-block {
  margin-top: 10px;
  font-size: .8rem;
}

a.share-link,
a.share-link {
  color: black;
  margin: 0px 5px;
  text-decoration: none;
}

a.share-link:hover,
a.share-link:active {
  text-decoration: none;
  text-shadow: 1px 1px 1px lightblue;
}

.tag-link {
  border-color: #2360db;
  border-style: solid;
  border-width: 2px 3px;
  border-radius: 2px;
  margin-right: 10px;
  background-color: #2360db;
  color: white;
  padding: 0;
  font-size: .7rem;
  font-weight: bold;
  font-family: monospace;
  text-decoration: none;
  transition-duration: 500ms;
  transition-property: font-size;
}

.tag-link:visited {
  color: #ffcccc;
  text-decoration: none;
}

.tag-link:hover,
.tag-link:active {
  color: #ccccff;
  text-decoration: none;
  font-size: 1rem;
}

.tile-collection {
  min-height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.tile-item {
  border: 2px solid white;
  padding: 2px;
  background-color: #F6F6F6;
  width: 204px;
  height: 162px;
  margin-bottom: 4px;
}

.tile-title {
  width: 100%;
  background: darkred;
  color: white;
  font-weight: bold;
  text-align: center;
}

.tile-title a {
  padding: 4px;
  color: white;
  text-decoration: none;
}

.tile-menu {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.tile-menu a {
  height: 32px;
  text-decoration: none;
}

.tile-menu a:hover {
  height: 32px;
  font-size: 1.2em;
  opacity: .9;
}
