---
layout: art-exhibit
permalink: /art/dreamwalker-gallery/
title: Art
category: ''
systemTags: never-archive
imgPath:
next:
previous:
imgDescription:
---
<style>
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        background-color: black;
        overflow-y: auto;
        padding: 10px;
    }

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 25vh;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    }

    img {
        max-width: 100%;
        max-height: 25vh;
        object-fit: contain;
        display: block;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.2);
        box-sizing: border-box;
    }
</style>
{% for asset in collections.art %}
<div class="image-container" style="background-color: {{ asset.data.backgroundColor or '#f0f0f0' }};" onclick="location.href='{{ asset.url }}'">
    <img src='{{ asset.data.thumbPath }}' alt='{{ asset.data.title }}' />
</div>
{% endfor %}
