<html>
<head>
    <meta http-equiv="refresh" content="0; url={{ destinationlink }}">
    <link rel="canonical" href="{{ destinationlink }}" />
    <script>
        location.href = "{{ destinationlink }}";
    </script>
</head>
<body>
    Page Moved to <a href="{{ destinationlink }}">{{ destinationlink }}</a>
</body>
</html>
