<!DOCTYPE html>
<html lang='en'>
<head>
    <!-- build time {% buildtime %} -->
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{{ title or titleonly }}</title>

    <meta http-equiv="refresh" content="0; url={{ destinationlink }}">
    <link rel="canonical" href="{{ destinationlink }}" />
    <script>
        location.href = "{{ destinationlink }}";
    </script>

</head>
<body>
    Page Moved to <a href="{{ destinationlink }}">{{ destinationlink }}</a>
</body>
</html>
